openapi: 3.0.3
info:
  title: Invosit API
  description: |
    Git sidecar for files that shouldn't be in git.
    Invosit lets teams push and pull encrypted files alongside a repo,
    with per-user access control enforced via envelope encryption.
  version: 0.1.0
  contact:
    name: Invosit

servers:
  - url: https://api.invosit.com/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: Auth
    description: Login, logout, token management
  - name: Workspaces
    description: Create and manage workspaces
  - name: Members
    description: Invite and manage workspace members
  - name: Files
    description: Push and pull encrypted files
  - name: Access
    description: Per-user per-file access control
  - name: Audit
    description: Audit log for all workspace activity

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:

  # ── AUTH ──────────────────────────────────

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: kye@invosit.dev
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: supersecret123
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/login:
    post:
      tags: [Auth]
      summary: Login and receive JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: kye@invosit.dev
                password:
                  type: string
                  format: password
                  example: supersecret123
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Invalidate current refresh token
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Logged out successfully
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        "200":
          description: New access token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── WORKSPACES ────────────────────────────

  /workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces for current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Workspaces]
      summary: Create a new workspace
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: my-project
      responses:
        "201":
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      summary: Get a workspace by ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Workspaces]
      summary: Delete a workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "204":
          description: Workspace deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── MEMBERS ───────────────────────────────

  /workspaces/{workspaceId}/members:
    get:
      tags: [Members]
      summary: List workspace members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Members]
      summary: Invite a member to the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                  example: teammate@example.com
                role:
                  type: string
                  enum: [admin, developer, viewer]
                  example: developer
      responses:
        "201":
          description: Member invited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/members/{userId}:
    delete:
      tags: [Members]
      summary: Remove a member from the workspace
      description: |
        Removes the member and deletes all their wrapped DEKs instantly.
        Their next pull will return 403.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/userId"
      responses:
        "204":
          description: Member removed and access revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── FILES ─────────────────────────────────

  /workspaces/{workspaceId}/files:
    get:
      tags: [Files]
      summary: List files in workspace
      description: Returns file metadata the current user has access to. Does not return file content.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of tracked files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Files]
      summary: Push a file (upload encrypted blob)
      description: |
        Uploads an encrypted file blob and its wrapped DEKs.
        The file content must be encrypted client-side before upload.
        Also adds the file path to .gitignore if not already present.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilePushRequest"
      responses:
        "201":
          description: File pushed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: File too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /workspaces/{workspaceId}/files/{fileId}:
    get:
      tags: [Files]
      summary: Get a signed download URL for a file
      description: |
        Returns a short-lived signed R2 URL (15 min expiry) and the
        caller's wrapped DEK so the CLI can download and decrypt the file.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "200":
          description: Signed URL and wrapped DEK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDownloadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Files]
      summary: Delete a file from the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "204":
          description: File deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /workspaces/{workspaceId}/files/{fileId}/versions:
    get:
      tags: [Files]
      summary: List versions of a file
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "200":
          description: List of file versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileVersion"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/files/{fileId}/rollback:
    post:
      tags: [Files]
      summary: Rollback a file to a previous version
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/fileId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version_id]
              properties:
                version_id:
                  type: string
                  example: ver_9x8y7z
      responses:
        "200":
          description: Rolled back successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── ACCESS CONTROL ────────────────────────

  /workspaces/{workspaceId}/access:
    get:
      tags: [Access]
      summary: List access grants in the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of access grants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AccessGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Access]
      summary: Grant a user access to a file or path pattern
      description: |
        Creates a wrapped DEK for the target user so they can decrypt
        the specified file or glob pattern (e.g. config/dev/*).
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessGrantRequest"
      responses:
        "201":
          description: Access granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/access/{grantId}:
    delete:
      tags: [Access]
      summary: Revoke a specific access grant
      description: Deletes the wrapped DEK for this grant. Takes effect on next pull.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: grantId
          in: path
          required: true
          schema:
            type: string
          example: grant_abc123
      responses:
        "204":
          description: Access revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── AUDIT ─────────────────────────────────

  /workspaces/{workspaceId}/audit:
    get:
      tags: [Audit]
      summary: Get audit log for workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: user_id
          in: query
          schema:
            type: string
          description: Filter by user
        - name: action
          in: query
          schema:
            type: string
            enum: [push, pull, login, logout, grant, revoke, rollback, delete]
          description: Filter by action type
      responses:
        "200":
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

# ─────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
      example: ws_abc123

    fileId:
      name: fileId
      in: path
      required: true
      schema:
        type: string
      example: file_xyz789

    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      example: usr_def456

  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not authorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:

    Error:
      type: object
      properties:
        error:
          type: string
          example: resource not found
        code:
          type: string
          example: NOT_FOUND

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        expires_in:
          type: integer
          description: Access token TTL in seconds
          example: 3600
        user:
          $ref: "#/components/schemas/User"

    User:
      type: object
      properties:
        id:
          type: string
          example: usr_def456
        email:
          type: string
          example: kye@invosit.dev
        created_at:
          type: string
          format: date-time

    Workspace:
      type: object
      properties:
        id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: my-project
        created_by:
          type: string
          example: usr_def456
        created_at:
          type: string
          format: date-time
        member_count:
          type: integer
          example: 3
        file_count:
          type: integer
          example: 12

    Member:
      type: object
      properties:
        user_id:
          type: string
          example: usr_def456
        email:
          type: string
          example: teammate@example.com
        role:
          type: string
          enum: [admin, developer, viewer]
          example: developer
        joined_at:
          type: string
          format: date-time

    FileMeta:
      type: object
      properties:
        id:
          type: string
          example: file_xyz789
        workspace_id:
          type: string
          example: ws_abc123
        path:
          type: string
          description: Relative path as it will appear on disk
          example: config/example.txt
        content_hash:
          type: string
          description: SHA-256 hash of the plaintext file
          example: a1b2c3d4e5f6...
        size:
          type: integer
          description: File size in bytes
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time
        version_count:
          type: integer
          example: 3

    FilePushRequest:
      type: object
      required: [path, content_hash, size, encrypted_blob_key, wrapped_deks]
      properties:
        path:
          type: string
          description: Relative path the file should be written to on pull
          example: config/example.txt
        content_hash:
          type: string
          description: SHA-256 hash of the original plaintext (for integrity check on pull)
          example: a1b2c3d4e5f6...
        size:
          type: integer
          description: Original file size in bytes
          example: 4096
        encrypted_blob_key:
          type: string
          description: R2 object key where the encrypted blob is stored
          example: blobs/a1b2c3d4e5f6
        wrapped_deks:
          type: array
          description: DEK wrapped per authorized user
          items:
            type: object
            properties:
              user_id:
                type: string
                example: usr_def456
              encrypted_dek:
                type: string
                description: Base64-encoded DEK encrypted with the user's public key
                example: base64encodedencrypteddek==
        message:
          type: string
          description: Optional version message
          example: updated system prompt

    FileDownloadResponse:
      type: object
      properties:
        signed_url:
          type: string
          description: Short-lived R2 signed URL (15 min expiry)
          example: https://r2.invosit.dev/blobs/a1b2c3?X-Amz-Expires=900&...
        encrypted_dek:
          type: string
          description: The caller's wrapped DEK to decrypt the blob
          example: base64encodedencrypteddek==
        content_hash:
          type: string
          description: Expected SHA-256 hash to verify after decryption
          example: a1b2c3d4e5f6...
        expires_at:
          type: string
          format: date-time

    FileVersion:
      type: object
      properties:
        id:
          type: string
          example: ver_9x8y7z
        file_id:
          type: string
          example: file_xyz789
        content_hash:
          type: string
          example: a1b2c3d4e5f6...
        size:
          type: integer
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time
        message:
          type: string
          example: updated system prompt
        is_current:
          type: boolean
          example: true

    AccessGrant:
      type: object
      properties:
        id:
          type: string
          example: grant_abc123
        user_id:
          type: string
          example: usr_def456
        path_pattern:
          type: string
          description: Glob pattern or exact path this grant covers
          example: config/dev/*
        granted_by:
          type: string
          example: usr_admin001
        granted_at:
          type: string
          format: date-time

    AccessGrantRequest:
      type: object
      required: [user_id, path_pattern, encrypted_deks]
      properties:
        user_id:
          type: string
          example: usr_def456
        path_pattern:
          type: string
          example: config/dev/*
        encrypted_deks:
          type: array
          description: Wrapped DEKs for all matching files, encrypted with the target user's public key
          items:
            type: object
            properties:
              file_id:
                type: string
                example: file_xyz789
              encrypted_dek:
                type: string
                example: base64encodedencrypteddek==

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          example: log_111aaa
        user_id:
          type: string
          example: usr_def456
        user_email:
          type: string
          example: kye@invosit.dev
        action:
          type: string
          enum: [push, pull, login, logout, grant, revoke, rollback, delete]
          example: pull
        file_id:
          type: string
          example: file_xyz789
        file_path:
          type: string
          example: config/example.txt
        ip:
          type: string
          example: 123.456.789.0
        timestamp:
          type: string
          format: date-time
