openapi: 3.0.3
info:
  title: Invosit API
  description: |
    Git sidecar for files that shouldn't be in git.
    Invosit lets teams push and pull encrypted files alongside a repo,
    with per-user access control enforced via envelope encryption.
  version: 0.1.0
  contact:
    name: Invosit

servers:
  - url: https://api.invosit.com/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Auth
    description: Profile lookup
  - name: Workspaces
    description: Create and manage workspaces
  - name: Members
    description: Invite and manage workspace members
  - name: Files
    description: Push and pull invosit files
  - name: Access
    description: Per-user per-file access control
  - name: Audit
    description: Audit log for all workspace activity

paths:

  # -── AUTH ──────────────────────────────────

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      description: |
        Resolves the current Kratos session to a local user record. The
        session is identified either by an Authorization: Bearer <token>
        header (CLI) or by the ory_kratos_session cookie (browser).
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── WORKSPACES ────────────────────────────

  /workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces for current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Workspaces]
      summary: Create a new workspace
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: my-project
      responses:
        "201":
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      summary: Get a workspace by ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Workspaces]
      summary: Delete a workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "204":
          description: Workspace deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── MEMBERS ───────────────────────────────

  /workspaces/{workspaceId}/members:
    get:
      tags: [Members]
      summary: List workspace members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Members]
      summary: Invite a member to the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                  example: teammate@example.com
                role:
                  type: string
                  enum: [admin, member, viewer, no_access]
                  example: member
      responses:
        "201":
          description: Member invited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/members/{userId}:
    delete:
      tags: [Members]
      summary: Remove a member from the workspace
      description: |
        Removes the member and deletes all their wrapped DEKs instantly.
        Their next pull will return 403.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/userId"
      responses:
        "204":
          description: Member removed and access revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── ENVIRONMENTS ──────────────────────────

  /workspaces/{workspaceId}/environments:
    get:
      tags: [Environments]
      summary: List environments in the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  environments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Environment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Environments]
      summary: Create a new environment (admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Case-insensitive unique within the workspace
                  example: staging
      responses:
        "201":
          description: Environment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Environment with that name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── FILES ─────────────────────────────────

  /workspaces/{workspaceId}/environments/{environmentId}/files:
    get:
      tags: [Files]
      summary: List committed files in environment
      description: |
        Returns committed file metadata, each with a short-lived signed
        download URL (15 min expiry). Pending files (mid-upload) are
        invisible to readers.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      responses:
        "200":
          description: List of committed files
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      $ref: "#/components/schemas/ListedFileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Files]
      summary: Phase 1 — register pending files + receive signed upload URLs
      description: |
        Phase 1 of the two-phase upload. For each entry, inserts a row in
        the `files` table with `status='pending'` and returns a short-lived
        signed PUT URL. The CLI uploads bytes directly to storage. Pending
        rows are invisible to reads until the CLI calls POST .../files:complete
        to promote them to `status='committed'`.

        Orphan blob cleanup (failed/abandoned uploads) is handled by a
        separate sweep job, not inline here.

        Per-entry validation or DB failures are reported in the results
        array; only auth, role, and batch-cap violations 4xx the outer
        request.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFilesRequest"
      responses:
        "200":
          description: Batch results (per-entry success or error)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateFilesResponse"
        "400":
          description: "Invalid request or batch exceeds 100 entries (`code: BATCH_TOO_LARGE`)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/environments/{environmentId}/files:complete:
    post:
      tags: [Files]
      summary: Phase 2 — confirm S3 upload, promote rows to committed
      description: |
        Phase 2 of the two-phase upload. For each `file_id`, transitions
        the row from `pending` to `committed` so it becomes visible to
        reads. Idempotent — completing an already-committed file is a
        no-op success. Unknown ids (or ids from a different environment)
        return per-entry `FORBIDDEN`.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteFilesRequest"
      responses:
        "200":
          description: Batch results (per-entry success or error)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteFilesResponse"
        "400":
          description: "Invalid request or batch exceeds 100 entries (`code: BATCH_TOO_LARGE`)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/environments/{environmentId}/files/{fileId}:
    get:
      tags: [Files]
      summary: Get committed file metadata + signed download URL
      description: |
        Returns metadata for a single committed file along with a
        short-lived signed download URL. Pending files return 403 — same
        as nonexistent — so callers can't tell whether an in-progress
        upload exists.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "200":
          description: File metadata + signed download URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListedFileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    delete:
      tags: [Files]
      summary: Delete a file from the environment
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "204":
          description: File deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  # ── ACCESS CONTROL ────────────────────────

  /workspaces/{workspaceId}/access:
    get:
      tags: [Access]
      summary: List access grants in the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of access grants
          content:
            application/json:
              schema:
                type: object
                properties:
                  grants:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccessGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Access]
      summary: Grant a user access to a file or path pattern
      description: |
        Creates a wrapped DEK for the target user so they can decrypt
        the specified file or glob pattern (e.g. config/dev/*).
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessGrantRequest"
      responses:
        "201":
          description: Access granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/access/{grantId}:
    delete:
      tags: [Access]
      summary: Revoke a specific access grant
      description: Deletes the wrapped DEK for this grant. Takes effect on next pull.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: grantId
          in: path
          required: true
          schema:
            type: string
          example: grant_abc123
      responses:
        "204":
          description: Access revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── AUDIT ─────────────────────────────────

  /workspaces/{workspaceId}/audit:
    get:
      tags: [Audit]
      summary: Get audit log for workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: user_id
          in: query
          schema:
            type: string
          description: Filter by user
        - name: action
          in: query
          schema:
            type: string
            enum: [push, pull, login, logout, grant, revoke, delete]
          description: Filter by action type
      responses:
        "200":
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

# ─────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Kratos session token
      description: |
        Bearer token issued by Ory Kratos and obtained via the CLI's Kratos
        API flow (password today; OIDC / passkey / SSO via API flow with
        token-exchange code in the future). The API forwards this header to
        Kratos `/sessions/whoami` to validate the session.
    cookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session
      description: |
        Kratos session cookie (used by browser clients). The API forwards
        the request's `Cookie` header to Kratos `/sessions/whoami`.

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
      example: ws_abc123

    fileId:
      name: fileId
      in: path
      required: true
      schema:
        type: string
      example: file_xyz789

    environmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      example: env_def456

    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      example: usr_def456

  responses:
    Unauthorized:
      description: Missing or invalid Kratos session
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not authorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:

    Error:
      type: object
      properties:
        error:
          type: string
          example: resource not found
        code:
          type: string
          example: NOT_FOUND

    User:
      type: object
      properties:
        id:
          type: string
          example: usr_def456
        email:
          type: string
          example: kye@invosit.dev
        created_at:
          type: string
          format: date-time

    Workspace:
      type: object
      properties:
        id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: my-project
        created_by:
          type: string
          example: usr_def456
        created_at:
          type: string
          format: date-time
        member_count:
          type: integer
          example: 3
        file_count:
          type: integer
          example: 12

    Member:
      type: object
      properties:
        user_id:
          type: string
          example: usr_def456
        email:
          type: string
          example: teammate@example.com
        role:
          type: string
          enum: [admin, member, viewer, no_access]
          example: member
        joined_at:
          type: string
          format: date-time

    Environment:
      type: object
      properties:
        id:
          type: string
          example: env_def456
        workspace_id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: production
        created_at:
          type: string
          format: date-time

    FileMeta:
      type: object
      description: |
        Base file metadata. `status` is `pending` for rows created by
        POST /files but not yet confirmed; `committed` once the CLI has
        called POST /files:complete.
      properties:
        id:
          type: string
          example: file_xyz789
        environment_id:
          type: string
          example: env_def456
        path:
          type: string
          description: Relative path as it will appear on disk
          example: config/example.txt
        content_hash:
          type: string
          description: SHA-256 hash of the file content
          example: a1b2c3d4e5f6...
        size:
          type: integer
          description: File size in bytes
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, committed]
          example: committed

    ListedFileMeta:
      description: |
        FileMeta plus a short-lived signed GET URL. Returned by GET /files
        (list items) and GET /files/{id} (single). `status` is always
        `committed` because pending rows are filtered from reads.
      allOf:
        - $ref: "#/components/schemas/FileMeta"
        - type: object
          required: [download_url, download_expires_at]
          properties:
            download_url:
              type: string
              description: Short-lived signed GET URL (15 min expiry)
              example: https://r2.invosit.dev/blobs/a1b2c3?X-Amz-Expires=900&...
            download_expires_at:
              type: string
              format: date-time

    FilePushRequest:
      type: object
      required: [path, content_hash, size]
      properties:
        path:
          type: string
          description: Relative path the file should be written to on pull. Must not be absolute, contain "..", null bytes, or start with a separator.
          example: config/example.txt
        content_hash:
          type: string
          description: SHA-256 hash of the file content. 64 lowercase hex chars.
          example: a1b2c3d4e5f6...
        size:
          type: integer
          description: File size in bytes
          example: 4096

    CreateFilesRequest:
      type: object
      required: [files]
      properties:
        files:
          type: array
          description: 1..100 file entries to register as pending and presign uploads for.
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/FilePushRequest"

    CreateFilesResultOk:
      type: object
      required: [path, status, file, upload_url, upload_expires_at]
      properties:
        path:
          type: string
          example: config/example.txt
        status:
          type: string
          enum: [ok]
        file:
          $ref: "#/components/schemas/FileMeta"
          description: The newly inserted row. `status` is `pending` until POST /files:complete.
        upload_url:
          type: string
          description: Short-lived signed PUT URL (15 min). Upload the blob here, then call POST /files:complete.
          example: https://r2.invosit.dev/blobs/...?X-Amz-Expires=900&...
        upload_expires_at:
          type: string
          format: date-time

    CreateFilesResultError:
      type: object
      required: [path, status, code, message]
      properties:
        path:
          type: string
          example: config/example.txt
        status:
          type: string
          enum: [error]
        code:
          type: string
          description: Stable machine-readable error code (e.g. INVALID_REQUEST, INTERNAL_ERROR)
          example: INVALID_REQUEST
        message:
          type: string
          example: invalid path

    CreateFilesResult:
      oneOf:
        - $ref: "#/components/schemas/CreateFilesResultOk"
        - $ref: "#/components/schemas/CreateFilesResultError"
      discriminator:
        propertyName: status
        mapping:
          ok: "#/components/schemas/CreateFilesResultOk"
          error: "#/components/schemas/CreateFilesResultError"

    CreateFilesResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/CreateFilesResult"

    CompleteFilesRequest:
      type: object
      required: [file_ids]
      properties:
        file_ids:
          type: array
          description: 1..100 file ids to transition from pending to committed.
          minItems: 1
          maxItems: 100
          items:
            type: string
            example: file_xyz789

    CompleteFilesResultOk:
      type: object
      required: [id, status, file]
      properties:
        id:
          type: string
          example: file_xyz789
        status:
          type: string
          enum: [ok]
        file:
          $ref: "#/components/schemas/FileMeta"
          description: The updated row, now with `status='committed'`.

    CompleteFilesResultError:
      type: object
      required: [id, status, code, message]
      properties:
        id:
          type: string
          example: file_xyz789
        status:
          type: string
          enum: [error]
        code:
          type: string
          description: Stable machine-readable error code (e.g. FORBIDDEN, INTERNAL_ERROR)
          example: FORBIDDEN
        message:
          type: string
          example: access denied

    CompleteFilesResult:
      oneOf:
        - $ref: "#/components/schemas/CompleteFilesResultOk"
        - $ref: "#/components/schemas/CompleteFilesResultError"
      discriminator:
        propertyName: status
        mapping:
          ok: "#/components/schemas/CompleteFilesResultOk"
          error: "#/components/schemas/CompleteFilesResultError"

    CompleteFilesResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/CompleteFilesResult"

    AccessGrant:
      type: object
      properties:
        id:
          type: string
          example: grant_abc123
        user_id:
          type: string
          example: usr_def456
        path_pattern:
          type: string
          description: Glob pattern or exact path this grant covers
          example: config/dev/*
        granted_by:
          type: string
          example: usr_admin001
        granted_at:
          type: string
          format: date-time

    AccessGrantRequest:
      type: object
      required: [user_id, path_pattern, encrypted_deks]
      properties:
        user_id:
          type: string
          example: usr_def456
        path_pattern:
          type: string
          example: config/dev/*
        encrypted_deks:
          type: array
          description: Wrapped DEKs for all matching files, encrypted with the target user's public key
          items:
            type: object
            properties:
              file_id:
                type: string
                example: file_xyz789
              encrypted_dek:
                type: string
                example: base64encodedencrypteddek==

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          example: log_111aaa
        user_id:
          type: string
          example: usr_def456
        user_email:
          type: string
          example: kye@invosit.dev
        action:
          type: string
          enum: [push, pull, login, logout, grant, revoke, delete]
          example: pull
        file_id:
          type: string
          example: file_xyz789
        file_path:
          type: string
          example: config/example.txt
        ip:
          type: string
          example: 123.456.789.0
        timestamp:
          type: string
          format: date-time
