openapi: 3.0.3
info:
  title: Invosit API
  description: |
    Git sidecar for files that shouldn't be in git.
    Invosit lets teams push and pull encrypted files alongside a repo,
    with per-user access control enforced via envelope encryption.
  version: 0.1.0
  contact:
    name: Invosit

servers:
  - url: https://api.invosit.com/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: Auth
    description: |
      Profile lookup. Registration, login, logout, password recovery, and
      email verification are served by Ory Kratos directly (public API at
      `:4433`, self-service UI at `:4455`) — they are not part of this API.
  - name: Workspaces
    description: Create and manage workspaces
  - name: Members
    description: Invite and manage workspace members
  - name: Files
    description: Push and pull encrypted files
  - name: Access
    description: Per-user per-file access control
  - name: Audit
    description: Audit log for all workspace activity

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:

  # ── AUTH ──────────────────────────────────

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      description: |
        Resolves the current Kratos session to a local user record. The
        session is identified either by an `Authorization: Bearer <token>`
        header (CLI) or by the `ory_kratos_session` cookie (browser).
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ── WORKSPACES ────────────────────────────

  /workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces for current user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [Workspaces]
      summary: Create a new workspace
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  example: my-project
      responses:
        "201":
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      summary: Get a workspace by ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Workspaces]
      summary: Delete a workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "204":
          description: Workspace deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── MEMBERS ───────────────────────────────

  /workspaces/{workspaceId}/members:
    get:
      tags: [Members]
      summary: List workspace members
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Members]
      summary: Invite a member to the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                  example: teammate@example.com
                role:
                  type: string
                  enum: [admin, member, viewer, no_access]
                  example: member
      responses:
        "201":
          description: Member invited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/members/{userId}:
    delete:
      tags: [Members]
      summary: Remove a member from the workspace
      description: |
        Removes the member and deletes all their wrapped DEKs instantly.
        Their next pull will return 403.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/userId"
      responses:
        "204":
          description: Member removed and access revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── ENVIRONMENTS ──────────────────────────

  /workspaces/{workspaceId}/environments:
    get:
      tags: [Environments]
      summary: List environments in the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of environments
          content:
            application/json:
              schema:
                type: object
                properties:
                  environments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Environment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Environments]
      summary: Create a new environment (admin only)
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: Case-insensitive unique within the workspace
                  example: staging
      responses:
        "201":
          description: Environment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
        "400":
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          description: Environment with that name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── FILES ─────────────────────────────────
  #
  # File operations are scoped per environment. The schema enforces
  # uniqueness on (environment_id, path) and access_grants carry
  # environment_id, so the environment is the natural parent in the URL.

  /workspaces/{workspaceId}/environments/{environmentId}/files:
    get:
      tags: [Files]
      summary: List files in environment
      description: Returns file metadata the current user has access to. Does not return file content.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      responses:
        "200":
          description: List of tracked files
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      $ref: "#/components/schemas/FileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Files]
      summary: Push a file (register metadata + get signed upload URL)
      description: |
        Registers a new version of a file in the environment and returns a
        short-lived signed PUT URL the CLI uses to upload the (encrypted)
        blob directly to storage. The DB row is created before the URL is
        issued — a failed upload leaves an orphan version, not a missing one.

        **MVP status (issue #11):** unencrypted iteration. `content_hash` is
        the sha256 of the plaintext. M4 will add `wrapped_deks` to the request
        and make `content_hash` the ciphertext hash.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilePushRequest"
      responses:
        "201":
          description: File pushed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilePushResponse"
        "400":
          description: Invalid path, hash, or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: File too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /workspaces/{workspaceId}/environments/{environmentId}/files/{fileId}:
    get:
      tags: [Files]
      summary: Get a signed download URL for a file
      description: |
        Returns a short-lived signed URL (15 min expiry) plus the file's
        metadata so the CLI can download (and, post-M4, decrypt) it.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "200":
          description: Signed URL and metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDownloadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    delete:
      tags: [Files]
      summary: Delete a file from the environment
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "204":
          description: File deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/environments/{environmentId}/files/{fileId}/versions:
    get:
      tags: [Files]
      summary: List versions of a file
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/fileId"
      responses:
        "200":
          description: List of file versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: "#/components/schemas/FileVersion"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/environments/{environmentId}/files/{fileId}/rollback:
    post:
      tags: [Files]
      summary: Rollback a file to a previous version
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
        - $ref: "#/components/parameters/fileId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version_id]
              properties:
                version_id:
                  type: string
                  example: ver_9x8y7z
      responses:
        "200":
          description: Rolled back successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── ACCESS CONTROL ────────────────────────

  /workspaces/{workspaceId}/access:
    get:
      tags: [Access]
      summary: List access grants in the workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of access grants
          content:
            application/json:
              schema:
                type: object
                properties:
                  grants:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccessGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Access]
      summary: Grant a user access to a file or path pattern
      description: |
        Creates a wrapped DEK for the target user so they can decrypt
        the specified file or glob pattern (e.g. config/dev/*).
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessGrantRequest"
      responses:
        "201":
          description: Access granted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /workspaces/{workspaceId}/access/{grantId}:
    delete:
      tags: [Access]
      summary: Revoke a specific access grant
      description: Deletes the wrapped DEK for this grant. Takes effect on next pull.
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: grantId
          in: path
          required: true
          schema:
            type: string
          example: grant_abc123
      responses:
        "204":
          description: Access revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── AUDIT ─────────────────────────────────

  /workspaces/{workspaceId}/audit:
    get:
      tags: [Audit]
      summary: Get audit log for workspace
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: user_id
          in: query
          schema:
            type: string
          description: Filter by user
        - name: action
          in: query
          schema:
            type: string
            enum: [push, pull, login, logout, grant, revoke, rollback, delete]
          description: Filter by action type
      responses:
        "200":
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

# ─────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Kratos session token
      description: |
        Bearer token issued by Ory Kratos and obtained via the CLI's Kratos
        API flow (password today; OIDC / passkey / SSO via API flow with
        token-exchange code in the future). The API forwards this header to
        Kratos `/sessions/whoami` to validate the session.
    cookieAuth:
      type: apiKey
      in: cookie
      name: ory_kratos_session
      description: |
        Kratos session cookie (used by browser clients). The API forwards
        the request's `Cookie` header to Kratos `/sessions/whoami`.

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: string
      example: ws_abc123

    fileId:
      name: fileId
      in: path
      required: true
      schema:
        type: string
      example: file_xyz789

    environmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
      example: env_def456

    userId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      example: usr_def456

  responses:
    Unauthorized:
      description: Missing or invalid Kratos session
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not authorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:

    Error:
      type: object
      properties:
        error:
          type: string
          example: resource not found
        code:
          type: string
          example: NOT_FOUND

    User:
      type: object
      properties:
        id:
          type: string
          example: usr_def456
        email:
          type: string
          example: kye@invosit.dev
        created_at:
          type: string
          format: date-time

    Workspace:
      type: object
      properties:
        id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: my-project
        created_by:
          type: string
          example: usr_def456
        created_at:
          type: string
          format: date-time
        member_count:
          type: integer
          example: 3
        file_count:
          type: integer
          example: 12

    Member:
      type: object
      properties:
        user_id:
          type: string
          example: usr_def456
        email:
          type: string
          example: teammate@example.com
        role:
          type: string
          enum: [admin, member, viewer, no_access]
          example: member
        joined_at:
          type: string
          format: date-time

    Environment:
      type: object
      properties:
        id:
          type: string
          example: env_def456
        workspace_id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: production
        created_at:
          type: string
          format: date-time

    FileMeta:
      type: object
      properties:
        id:
          type: string
          example: file_xyz789
        environment_id:
          type: string
          example: env_def456
        path:
          type: string
          description: Relative path as it will appear on disk
          example: config/example.txt
        content_hash:
          type: string
          description: SHA-256 hash of the file content (plaintext in MVP, ciphertext post-M4)
          example: a1b2c3d4e5f6...
        size:
          type: integer
          description: File size in bytes
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time

    FilePushRequest:
      type: object
      required: [path, content_hash, size]
      properties:
        path:
          type: string
          description: Relative path the file should be written to on pull. Must not be absolute, contain "..", null bytes, or start with a separator.
          example: config/example.txt
        content_hash:
          type: string
          description: SHA-256 hash of the file content (plaintext in MVP, ciphertext post-M4). 64 lowercase hex chars.
          example: a1b2c3d4e5f6...
        size:
          type: integer
          description: File size in bytes
          example: 4096
        message:
          type: string
          description: Optional version message
          example: rotated API token

    FilePushResponse:
      type: object
      description: |
        Returned on successful push. The CLI uploads the (encrypted) blob
        via a PUT to `upload_url` before the URL expires.
      properties:
        id:
          type: string
          example: file_xyz789
        environment_id:
          type: string
          example: env_def456
        path:
          type: string
          example: config/example.txt
        content_hash:
          type: string
          example: a1b2c3d4e5f6...
        size:
          type: integer
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time
        version_id:
          type: string
          example: ver_9x8y7z
        upload_url:
          type: string
          description: Short-lived signed PUT URL (15 min). Upload the blob here.
          example: https://r2.invosit.dev/blobs/...?X-Amz-Expires=900&...
        upload_expires_at:
          type: string
          format: date-time

    FileDownloadResponse:
      type: object
      properties:
        id:
          type: string
          example: file_xyz789
        environment_id:
          type: string
          example: env_def456
        path:
          type: string
          example: config/example.txt
        content_hash:
          type: string
          description: Expected SHA-256 hash to verify after download (and post-M4 decryption)
          example: a1b2c3d4e5f6...
        size:
          type: integer
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time
        download_url:
          type: string
          description: Short-lived signed GET URL (15 min expiry)
          example: https://r2.invosit.dev/blobs/a1b2c3?X-Amz-Expires=900&...
        download_expires_at:
          type: string
          format: date-time

    FileVersion:
      type: object
      properties:
        id:
          type: string
          example: ver_9x8y7z
        file_id:
          type: string
          example: file_xyz789
        content_hash:
          type: string
          example: a1b2c3d4e5f6...
        size:
          type: integer
          example: 4096
        pushed_by:
          type: string
          example: usr_def456
        pushed_at:
          type: string
          format: date-time
        message:
          type: string
          example: updated system prompt
        is_current:
          type: boolean
          example: true

    AccessGrant:
      type: object
      properties:
        id:
          type: string
          example: grant_abc123
        user_id:
          type: string
          example: usr_def456
        path_pattern:
          type: string
          description: Glob pattern or exact path this grant covers
          example: config/dev/*
        granted_by:
          type: string
          example: usr_admin001
        granted_at:
          type: string
          format: date-time

    AccessGrantRequest:
      type: object
      required: [user_id, path_pattern, encrypted_deks]
      properties:
        user_id:
          type: string
          example: usr_def456
        path_pattern:
          type: string
          example: config/dev/*
        encrypted_deks:
          type: array
          description: Wrapped DEKs for all matching files, encrypted with the target user's public key
          items:
            type: object
            properties:
              file_id:
                type: string
                example: file_xyz789
              encrypted_dek:
                type: string
                example: base64encodedencrypteddek==

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          example: log_111aaa
        user_id:
          type: string
          example: usr_def456
        user_email:
          type: string
          example: kye@invosit.dev
        action:
          type: string
          enum: [push, pull, login, logout, grant, revoke, rollback, delete]
          example: pull
        file_id:
          type: string
          example: file_xyz789
        file_path:
          type: string
          example: config/example.txt
        ip:
          type: string
          example: 123.456.789.0
        timestamp:
          type: string
          format: date-time
